<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnTotNghiep_QuanLyTuyenSinh_v0._4.Properties.Settings.QLTuyenSinh_2ConnectionString"
            connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLTuyenSinh_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>